#global-hd-container {
	background-image: none;
}

#global-hd ul li {
	padding: 0px 14px 0px 18px;
}

#container #logos {	
	margin-top: 5px;
}

#logos #ieee {
	background-image: url(../images/logo_ieeeBLK.gif);
	background-repeat: no-repeat;
}

#content .sp-content1 {
	height: 113px;
}

#content .sp-content2 {
	height: 223px;
}

#leftnav .control {
	width: 13px;
	margin-left: 5px; 
}

#leftnav .header {
	height: 21px;
}

#leftnav ul li a {
	height:17px;
}

#footer .divider {
	background-image: none;	
}

